*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
}
.page1{
  background-image: url('backgroundgunung.jpg');
}

nav{
	background: DarkSlateGrey;
	height: 160px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
}
.home{
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 40px;
	width: 90%;
  	height: 100%;
  	padding: 100px;
  	margin: 15% 8% 15%;
}

#logo{
	float: left;
	padding: 5px 85px;
}
nav ul{
	float: right;
	margin-right: 5px;
}
nav ul li{
	display: inline-block;
	line-height: 100px;
	margin: 25px 5px;
}
nav ul li a{
	color: white;
	font-size: 75%;
	font-family: lucida console;
	padding: 10px 15px;
	border-radius: 9px;
	text-transform: uppercase;
}
a.active, a:hover{
	background: #5F9EA0;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px
	margin-right: 40px;
	cursor: pointer;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		padding-left: 50px;
	}
}
@media (max-width: 858px){
	nav .checkbtn i{
		display: block;
	}
	ul{
		position: fixed;
		width: 80%;
		height: 100vh;
		background: #191970;
		top: 80px;
		left: -100;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color: #B0C4DE;
	}
}
.alexandra{
	float: left;
		}
.alexandra2{
	float: right;
		}
.aboutme, .future, .cf{
	background-color: rgba(255, 255, 255, 0.7);
	text-align: justify;
	font-size: 40px;
	width: 90%;
  	height: 100%;
  	padding: 100px;
  	margin: 10% 5% 10%;
		}
.page2, .page3, .page4{
  background-image: url('nextbackground.jpg');
}
h2{
	font-family: Shrikhand;
}
p {
	font-family: Palanquin;
}